.background-container {
  width: 414px;
  height: 896px;

  display: flex;
  flex-direction: column;
}
.app-bar {
  background-color: #9395d3;

  padding: 11px 21px;
  display: flex;
  flex: 0.15;
  flex-direction: column;
}
.status-bar {
  display: flex;
}
.left-section {
  justify-content: flex-start;
  display: flex;
  flex: 1;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.right-section {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.right-section > img {
  width: 20px;
  height: 14px;
  padding-left: 4px;
}
.title-bar {
  display: flex;

  flex: 1;
  align-items: flex-end;
}
.title-left-section {
  justify-content: flex-start;
  display: flex;
  flex: 1;
}
.title-right-section {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}
.center-container {
  display: flex;
  flex: 0.8;
  background: #d6d7ef;
}

.app-name {
  color: #fff;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.calander {
  width: 60px;
  height: 60px;
}

.todo-list-container {
  padding: 21px 7px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.todo-bar {
  display: flex;
  height: 82px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 19px;
  padding-right: 28px;
  align-items: center;
  margin-top: 11;
}
.todo-bar-left-section {
  justify-content: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.todo-bar-right-section {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.title {
  font-family: Jost;
  color: #9395d3;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.sub-title {
  color: #000;
  font-family: Jost;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  padding-top: 4px;
}
.todo-bar-right-section > img {
  padding-left: 20px;
}
.footer-container {
  display: flex;
  flex: 0.05;
  display: flex;
  height: 82px;
  background-color: white;
  padding-left: 19px;
  padding-right: 28px;
  align-items: center;
}

.left-footer {
  justify-content: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 75px;
  padding-top: 10px;
}
.footer-text {
  color: #9395d3;
  font-family: Jost;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 4px;
}
.right-footer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 55px;
  padding-top: 2px;
}
.add-todo-button {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 13px;
  margin-right: 5px;
}
.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #9395d3;
  font-size: 31;
  color: white;
  border: none;
}
